/* CSS Document */

.campo11
{
position:absolute;
top:10px;
left:240px;
width:800px;
height:120px;
background: rgba(255, 250, 250, 0.36);
border-radius:30px;
}

.campo7
{
position:absolute;
top:600px;
left:0px;
width:1300px;
height:800px;
background: rgba(255, 250, 250, 0.36);
}

.campo8
{
position:absolute;
top:150px;
left:100px;
width:600px;
height:600px;
background: rgba(1, 0, 0, 0.28);
border-radius:50px;
}

.campo9
{
position:absolute;
top:150px;
left:800px;
width:400px;
height:600px;
background: rgba(255, 250, 250, 0.36);
border-radius:50px;
}

.imgburger
{
width:400px;
height:600px;
border-radius:50px;

}

/*comenzamos cone el campo 8 que tiene los datos que se van actualizar*/

.actualizarL
{
position:absolute;
top:10px;
left:60px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:30px;
color:#ffffff;
}

.foto1
{
position:absolute;
top:100px;
left:220px;
width:150px;
height:150px;
}

.identificacionL
{
position:absolute;
top:270px;
left:40px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
color:#ffffff;
}

.identificacion
{
position:absolute;
top:320px;
left:40px;
width:150px;
height:30px;
}

.nombreL1
{
position:absolute;
top:270px;
left:225px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
color:#ffffff;
}

.nombre1
{
position:absolute;
top:320px;
left:225px;
width:150px;
height:30px;
}

.apellidoL1
{
position:absolute;
top:270px;
left:410px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
color:#ffffff;
}

.apellido1
{
position:absolute;
top:320px;
left:410px;
width:150px;
height:30px;
}

.telefonoL
{
position:absolute;
top:370px;
left:130px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
color:#FFFFFF;
}

.telefono
{
position:absolute;
top:420px;
left:130px;
width:150px;
height:30px;
}

.contrasenaL1
{
position:absolute;
top:370px;
left:310px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
color:#FFFFFF;
}

.contrasena1
{
position:absolute;
top:420px;
left:310px;
width:150px;
height:30px;
}

.correo1L
{
position:absolute;
top:470px;
left:40px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
color:#FFFFFF;
}

.correo1
{
position:absolute;
top:480px;
left:130px;
width:330px;
height:30px;
}

.boton11
{
position:absolute;
top:540px;
left:220px;
width:150px;
height:40px;
}

.campo10
{
position:absolute;
top:800px;
left:0px;
width:1300px;
height:400px;
background: rgba(1, 0, 0, 0.28);

}