/* CSS Document */

.foto88
{
position:relative;
top:-430px;
left:510px;
width:100px;
height:100px;
border-radius:100px;
z-index:1;
}

.cita1
{
position:relative;
top:150px;
left:80px;
width:650px;
height:230px;
background-color:#ffffff;
border-radius:30px;
}

.w1
{
position:relative;
top:30px;
left:20px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:18px;
color:#000000;
}

.w3
{
position:relative;
top:-160px;
left:480px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:18px;
color:#000000;
}

.w4
{
position:relative;
top:-210px;
left:480px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:18px;
color:#000000;
}



.w5
{
position:relative;
top:-205px;
left:130px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:18px;
color:#000000;
}

.w6
{
position:relative;
top:-284px;
left:265px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:18px;
color:#000000;
}

.w7
{
position:relative;
top:-361px;
left:400px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:18px;
color:#000000;
}

.w8
{
position:relative;
top:-310px;
left:20px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:18px;
color:#000000;
}

.w10
{
position:relative;
top:30px;
left:20px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:18px;
color:#000000;
}

.w11
{
position:relative;
top:-122px;
left:420px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:18px;
color:#000000;
}

.w12
{
position:relative;
top:-170px;
left:410px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:18px;
color:#000000;
}

.w13
{
position:relative;
top:-204px;
left:130px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:18px;
color:#000000;
}

.w14
{
position:relative;
top:-281px;
left:265px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:18px;
color:#000000;
}

.w15
{
position:relative;
top:-359px;
left:400px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:18px;
color:#000000;
}

.w16
{
position:relative;
top:-305px;
left:20px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:18px;
color:#000000;
}

.w18
{
position:relative;
top:30px;
left:20px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:28px;
color:#000000;
}

