/* CSS Document */
.campo
{
position: absolute;
width:1300px;
height:1500px;
background: rgba(255, 250, 250, 0.36);
}


/*estilos del campo 1 de la izquierda*/
.campo1
{
position:relative;
top:150px;
left:100px;
width:1100px;
height:800px;
background: rgba(1, 0, 0, 0.28);
}

.campo2
{
position:relative;
top:180px;
left:100px;
width:1100px;
height:400px;
background: rgba(1, 0, 0, 0.28);
}

.asigL
{
  position:absolute;
  top:-10px;
  left:420px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:36px;
  color:#000000;
}

.datosL
{
position:absolute;
top:70px;
left:50px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:24px;
color:#000000;
}

.correoL
{
position:absolute;
top:140px;
left:50px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
color:#000000;
}

.correo
{
position:absolute;
top:180px;
left:50px;
width:300px;
height:40px;
}

.documentoL
{
position:absolute;
top:140px;
left:400px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
color:#000000;
}

.documento
{
position:absolute;
top:180px;
left:400px;
width:150px;
height:40px;
}

.telefonoL
{
position:absolute;
top:140px;
left:600px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
color:#000000;
}

.telefono
{
position:absolute;
top:180px;
left:600px;
width:150px;
height:40px;
}

.linea
{
position:absolute;
top:260px;
left:50px;
width:800px;
height:2px;
background-color:#000000;
}

/*estilos de los datos del especialista*/

.datosEL
{
 position:absolute;
 top:270px;
 left:50px;
 font-family:Verdana, Arial, Helvetica, sans-serif;
 font-size:24px;
 color:#000000;
 
}

.nombreEL
{
position:absolute;
top:330px;
left:50px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
color:#000000;
}

.nombree
{
position:absolute;
top:370px;
left:50px;
width:250px;
height:40px;
}

.apellidoEL
{
position:absolute;
top:420px;
left:50px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
}

.apellidoe
{
position:absolute;
top:460px;
left:50px;
width:250px;
height:40px;
}

.movilL
{
position:absolute;
top:510px;
left:50px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
}

.telefonoe
{
position:absolute;
top:550px;
left:50px;
width:250px;
height:40px;
}

.linea1
{
position:absolute;
top:300px;
left:370px;
width:2px;
height:400px;
background-color:#000000;
}

.linea2
{
position:absolute;
top:100px;
left:870px;
width:2px;
height:600px;
background-color:#000000;
}

/*estilos de los datos de la citas */

.datos1L
{
position:absolute;
top:270px;
left:500px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:24px;
color:#000000;
}

.fechaL
{
position:absolute;
top:340px;
left:440px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
color:#000000;
}

.fecha
{
position:absolute;
top:380px;
left:440px;
width:300px;
height:40px;
}

.horaL
{
position:absolute;
top:420px;
left:440px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
}

.hora
{
position:absolute;
top:470px;
left:440px;
width:300px;
height:40px;
}



.consultorioL
{
position:absolute;
top:520px;
left:440px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
}

.consultorio
{
position:absolute;
top:570px;
left:440px;
width:300px;
height:40px;
}

.linea3
{

position:absolute;
top:740px;
left:50px;
width:800px;
height:2px;
background-color:#000000;

}


/*efectos de transicion con css3 de la parte derecha*/


.boton:before
{
  content:'';
  position:absolute;
  top:0px;
  left:0px;
  width:0px;
  height:50px;/*esto hace el ancho de la barra de carga*/
  background:rgba(255, 250, 250, 0.36);
  border-radius:50px;
  transition:all 2s ease;
}


.boton
{
position:absolute;
top:0px;
left:0px;
width:150px;
height:50px;
border:none;
background:#ffffff;
color:#000000;
font-size:18px;
padding: 0px;/*me agranda el div y cambia de posicion la letra*/
border-radius:50px;/*hace que los botones se bean semi redondos */
position:relative;/*hace una animacion lenta al refrescar la pagina*/
box-sizing: border-box;/*con este*/
transition: all 500ms ease;/*y este*/
}

.boton:hover
{
background:rgba(255, 250, 250, 0.36);/*color en en cual se hace la transformacion*/
color:#ffffff;/*color de letra*/
box-shadow:inset 0 0 0 3px #ffffff; /*color del borde de la linea*/
}

.boton:hover:before {
 width: 100%;/*me sirve para que se forme el efecto de barra de carga*/
}

.boton1
{
  position:absolute;
  top:330px;
  left:910px;
}

.boton2
{
  position:absolute;
  top:410px;
  left:910px;
}

.boton3
{
  position:absolute;
  top:490px;
  left:910px;
}










