/* CSS Document */

.barra
{
position:absolute;
top:00px;
left:0px;
width:800px;
height:120px;
background: rgba(1, 0, 0, 0.28);
border-radius:30px;
}

.cerrar
{
position:absolute;
top:30px;
left:520px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:18px;
color:#000000;
}

.foto
{
position:absolute;
top:10px;
left:670px;
width:100px;
height:100px;
border-radius:50px;
}

.identificacionL0
{
position:absolute;
top:10px;
left:50px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
color:#000000;
}

.identificacion0
{
position:absolute;
top:60px;
left:50px;
width:200px;
height:30px;
border-radius:30px;
}

.boton00
{
position:absolute;
top:55px;
left:280px;
width:80px;
height:40px;
}