@charset "utf-8";
/* CSS Document */

body{
	padding:0;
	margin:0;
}

#barra
{

	width:260px;
	margin-top:10px;
	background:#F00;
	height:0px;
	position:relative;
	z-index:2;
	
}
ul{
	list-style-type:none;
	margin:0;
	padding:0;
	text-align:center;
}

#menu>li
{
	display:inline-block;
	margin:0px 10px 0px 10px;
	padding:5px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:17px;
	
}

.panel
{

	margin-left:1100px;
	background:#FFF;
	color:#000000;
	width:150px;
	height:210px;
	border-radius:10px;
	box-shadow:0px 0px 5px #000000 inset, 0px 0px 5px #000000;
	padding-top:20px;
	position:relative;
	transform-style:preserve-3d;
	top:-180px;


}
a:-webkit-any-link {
    
    cursor: auto;
	color:#FFFFFF;
    text-decoration: none;
}

.panel:hover
{
	animation:animacion ease 2s forwards;
}


@keyframes animacion{
	0%{
		top:-200px;
	}
	50%{
		top:-20px;
		transform:rotateY(0deg);
		
	}
	100%{
		top:-20px;
		transform:rotateY(180deg);
		
	}
}

.frente>img
{
	margin-bottom:25px;
	
}
.frente
{
backface-visibility:hidden;	
}


.atras
{
	position:absolute;
	top:5px;
	transform:rotateY(180deg) translateZ(100px);
	backface-visibility:hidden;

}
.atras>ul>li
{
	background:#000;
	color:#FFF;
	width:130px;
	margin-top:20px;
	padding:10px;
	box-shadow:0px 0px 40px #006600 inset;
	transition:all ease 0.3s;
	
}

.atras>ul>li:hover{
	transform:scale(1.2);
	cursor:pointer;
	box-shadow:0px 5px 0px   hsl(0,0%,40%),  0px 10px 10px  #333333, 0px 0px 5px 				#009900 inset;
	border-radius:10px;
}

.atras>ul>li:active{
	transform:scale(1.2) translateY(3px);
	box-shadow:0px 3px 0px hsl(120,100%,50%),0p 5px 5px #000000,0px 0px 5px #009900 inset;
	
}
a:-webkit-any-link {
    color:#FFFFFF;
    cursor:pointer;
    text-decoration:noneo;
}