@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9lujgx');
  src:  url('fonts/icomoon.eot?9lujgx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9lujgx') format('truetype'),
    url('fonts/icomoon.woff?9lujgx') format('woff'),
    url('fonts/icomoon.svg?9lujgx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Casa:before {
  content: "\e900";
}
.icon-Iniciar:before {
  content: "\e916";
}
.icon-ubicacion:before {
  content: "\e947";
}
.icon-chat:before {
  content: "\e970";
}
.icon-conocenos:before {
  content: "\e976";
}
.icon-busqueda:before {
  content: "\e986";
}
